/* 
    Document   : default
    Created on : 22/04/2008, 11:55:40 AM
    Author     : DSILVA
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body{font-family: Verdana,Arial}
h1,h2,h3{font-family:Trebuchet MS }
table{
	background: #909090;
}
table thead{
	background: #c0c0c0;

}
table tbody{
	background: #fff;
}