
/********************************************
AUTHOR:  			Erwin Aligam
WEBSITE:   			http://www.styleshout.com/
TEMPLATE NAME:		Refresh
TEMPLATE CODE: 	S-0002
VERSION:          1.0
*******************************************/

/********************************************
HTML ELEMENTS
********************************************/

/* Top Elements */
* { margin: 0; padding: 0; }

body {
    background: #CCCCCC;
    font: 70%/1.5em Verdana, Tahoma, arial, sans-serif;
    color: #333;
    text-align: center;
}

/* links */
a, a:visited {
    text-decoration: none;
    color: #4F82CB;
    background: inherit;
}
a:hover {
    color: #8dbdd8 ;
    text-decoration: underline;
    background: inherit;
    
}

/* headers */
h1, h2, h3,h4 {
    font-family: Tahoma, Verdana, 'Trebuchet MS', Sans-serif;
    font-weight: Bold;
}
h1 {
    font-size: 120%;
}

h3 {
    font-size: 110%;
    color: #666666;
}
h3 span{
    font-size: 110%;
    color: black;
    font-weight:normal;

}
h4 {
    font-size: 110%;
    color: #888888;

}
h4 span{
    font-weight:normal;
    font-family:Verdana;
    font-size:11px;
    color:black;
}

/* images */
img {
    border: 2px solid #CCC;
}
img.float-right {
    margin: 5px 0px 10px 10px;
}
img.float-left {
    margin: 5px 10px 10px 0px;
}
img.icon{
    border:0px;
}
h1, h2, h3, p,h4 {
    padding: 10px;
    margin: 0;
}

code {
    margin: 5px 0;
    padding: 10px;
    text-align: left;
    display: block;
    overflow: auto;
    font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace ;
    /* white-space: pre; */
    background: #FAFAFA;
    border: 1px solid #f2f2f2;
}
acronym {
    cursor: help;
    border-bottom: 1px solid #777;
}


/* form elements */

form {
    margin:10px; padding: 0 5px;
    border: 1px solid #f2f2f2;
    background-color: #FAFAFA;
}
label.buscar{
    display: inline;
    font-weight: normal;
}
label {
    display:block;
    font-weight:bold;
    margin:5px 0;
}
input {
    padding:2px;
    border:1px solid #bbb;
    font: normal 1em Verdana, sans-serif;
    color:#777;

}
textarea {
    width:400px;
    padding:2px;
    font-family: Verdana, sans-serif;
    border:1px solid #eee;
    height:100px;
    display:block;
    color:#777;
}

input.button {
    margin: 0;
    font: bolder 13px Arial, Sans-serif;
    border: 1px solid #CCC;
    padding: 2px 3px;
    background: #FFF;
    color: #333 ;
    cursor: pointer;
}
@media print{
    input.button{
        display: none;
    }
}
@media print{
    form.noprint{
        display:none;
    }
}
@media print{
    footer{
        border-top: 1px solid Gray;
    }
}
label{
    cursor: pointer;
}

/* search */
form.search {
    position: absolute;
    top: 35px; right: 25px;
    background: transparent;
    border: none;
}
form.search input.textbox {
    margin: 0; padding: 1px 2px;
    width: 120px;
    background: #FFF;
    color: #333;
}


/********************************************
LAYOUT
********************************************/
#wrap {
    /*width: 820px;*/
    /*background: #CCC url(../images/content.jpg) repeat-y center top;*/
    /*margin: 0 auto;*/
    text-align: left;
    margin: 0 auto;
    width:980px;
    background: none repeat scroll 0 0  #ffffff;
}
#content-wrap {
    clear: both;
    /*width: 760px;*/
    width: 980px;
    /*height: 750px;*/
    padding: 0;
    margin: 0 0 0 10px;
}
#header {
    width: 980px;
    position: relative;
    height: 60px;
    /*background: #CCC url(../images/header.jpg) no-repeat center top;*/
    background: none repeat scroll 0 0 #0066CC;
    padding: 0;
    font-size: 14px;
    color: #FFF;
}
#header h1#logo-text {
    position: absolute;
    margin: 0; padding: 0;
    font: bolder 2em  Arial, Sans-serif;

    letter-spacing: -2px;
    color: #FFF;
    text-transform: none;

    /* change the values of top and left to adjust the position of the logo*/
    top: 5px; left: 25px;
}
#header h2#slogan {
    position: absolute;
    margin: 0; padding: 0;
    font: normal .8em 'Trebuchet MS', Arial, Sans-serif;
    text-transform: none;
    color: #FFF;

    /* change the values of top and left to adjust the position of the slogan*/
    top: 35px; left: 25px;
}
#header h1#cedula {
    position: absolute;
    margin: 0; padding: 0;
    font: bolder 20px 'Trebuchet MS', Arial, Sans-serif;
    letter-spacing: 2px;
    color: #FFF;
    text-transform: none;

    /* change the values of top and left to adjust the position of the logo*/
    top: 28px; left: 50px;
}
#header h2#ie {
    position: absolute;
    margin: 0; padding: 0;
    font: normal 15px 'Trebuchet MS', Arial, Sans-serif;
    text-transform: none;
    color: #FFF;

    /* change the values of top and left to adjust the position of the slogan*/
    top: 74px; left: 58px;
}
/* Menu */
#menu {
    clear: both;
    
    margin: 0; padding: 0 5px 0 0;
    background: white;
    font: bold 12px/26px Verdana, Arial, Tahoma, Sans-serif;
    height: 25px;
    top: 74px; left: 58px;
}
#menu a {
    float: right;
    color:  white;
    text-decoration: none;
}
#menu ul {
    float: right;
    list-style: none;
    margin:0; padding: 0;
}
#menu ul li {
    display: inline;
}
#menu ul li a {
    display: block;
    float: right;
    padding: 0 8px;
    color: #FFF;
    text-decoration: none;
}
#menu ul li a:hover {
    background-color: #ECECEC;
    color: #333;
}
#menu ul li#current a {
    background-color: #FFF;
    color: #333;
}

/* Main Column */
#main {
    float: left;
    width: 70%;
    padding: 0 0 0 10px; margin: 0;
}
#main_tablero {
    float: right;
    width: 100%;
    padding: 0; margin: 0;
}

#main_tablero_2017 {
    float: left;
    width: 100%;
    padding: 0; margin: 0;
}

#main h1 {
    margin-top: 10px;
    font: Bold 125% Verdana, 'Trebuchet MS', Sans-serif;
    color: #055FCD;
    padding: 5px 0 5px 25px;
    border-bottom: 1px solid #EFF0F1;
    /*background: #FFF url(../images/square-green.png) no-repeat 3px 50%;*/
}

.post-footer {
    background-color: #FAFAFA;
    padding: 5px; margin: 20px 10px 0 10px;
    border: 1px solid #f2f2f2;
    font-size: 95%;
}
.post-footer .date {
    background: url(../images/clock.gif) no-repeat left center;
    padding-left: 20px; margin: 0 10px 0 5px;
}
.post-footer .comments {
    background: url(../images/comment.gif) no-repeat left center;
    padding-left: 20px; margin: 0 10px 0 5px;
}
.post-footer .readmore {
    background: url(../images/page.gif) no-repeat left center;
    padding-left: 20px; margin: 0 10px 0 5px;
}

/* Sidebar */
#sidebar {
    float: left;
    width: 22.5%;
    padding: 0; margin: 0;
}

#sidebar .left-box {
    border: 1px solid #EFF0F1;
    margin: 0 0 5px 0;
}
#sidebar ul.sidemenu {
    list-style: none;
    text-align: left;
    margin: 3px 0 8px 0; padding: 0;
    text-decoration: none;
}
#sidebar ul.sidemenu li {
    border-bottom: 1px solid #EFF0F1;    
    /*background: url(../images/go.gif) no-repeat 5px 5px;*/
    padding: 2px 0 2px 2px;
    margin: 0 2px;
}
#sidebar ul.sidemenu a {
    font-weight: bolder;
    text-decoration: none;
    background-image: none;
    display:block;
}

#opciones_tablero{
    width: 220px;
    float: left ;

}
#opciones_tablero .opciones{
    /*background: #D8D8D8;*/
    background: #005eb9;
    color:white;
    padding: 8px 3px 10px 3px;
    -moz-border-radius:4px;
    moz-border-radius:4px;
}
#opciones_tablero h2{
    font-size: 10pt;
    padding: 0 10px 6px 7px;
    margin: 0;
    width: 100%;
    font-family:  Arial, Helvetica,sans-serif;
    font-weight: bold;
}

#tablero {
    display: block;
    margin-top: 2px;

}
#tablero ul{
    padding-left:0px;
    list-style: none;
    width:220px;
    margin: 0;
}
#tablero ul li{
    padding:9px ;

    background: #e2e2f4;
    /*background: #DBE5F1;*/
    margin-bottom: 1px;
    line-height:15px;
    /*-moz-box-shadow: inset 2px 2px 5px #989A94;
    -webkit-box-shadow: inset 2px 2px 5px #989A94;
    box-shadow: inset 2px 2px 5px #989A94; */

}
#tablero ul li.selected{
    background: #989A94;
    /*background: #969696;*/

}
#tablero ul li a{
    text-decoration: none;
    /*color: #5B677D;*/
    color: #666666;
    font-family:  Arial, Helvetica,sans-serif;
    font-size: 9pt;
}
#tablero ul li.selected a{
    color:white;
}
#tablero ul li a:hover{

    text-decoration: underline;
}


/* Footer */
#footer {
    color: #666666;
    /*background: #CCC url(../images/footer.jpg) no-repeat center top;*/
    background: none repeat scroll 0 0  #FAFAFA;
    clear: both;
    width: 980px;
    height: 40px;
    text-align: center;
    font-size: 92%;
}
#footer a { text-decoration: none; }

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }

/* display and additional classes */
.clear { clear: both; }
.gray { color: #CCC; }

.tbl_etiqueta{
    background-color: #EFF0F1;
    font-weight: Bold;
}
.tbl_etiqueta2{
    background-color: #F6F6C7;
}
.tbl_etiqueta3{
    background-color: #F6F6C7;
    text-align: center;
}
.estudiantes{
    font-size: 9px;
    border: 1px solid #666666;
}
.estudiantes th{
    background-color: #EFF0F1;
}
ul.errors{
    border: 3px dashed Red;
}
ul.errors li{
    color: Red;
}
.listaIIEE img{
    border:0px;
}

a.edit{
    background: url(../images/edit16.gif) no-repeat;
    padding-left: 17px;
    height: 17px;

}
a.buscarCerrado{
    background: url(../images/find16.gif) no-repeat;
    padding-left: 17px;
    height: 17px;
}
a.exportarSIE{
    background: url(../images/icono_siemed.gif) no-repeat;
    padding-left: 17px;
    height: 17px;
}
a.iconoDoc{
    background: url(../images/icon_xls.gif) no-repeat;
    padding-left: 17px;
    height: 17px;
}
a.iconoDocN{
    background: url(../images/icon_xls.gif) no-repeat;
    padding-left: 17px;
    height: 17px;
    color: #88ac0b;
        font-style: normal;
        font-size: larger;
        }
input.textEditable{
    background-color: #FFFFE0;
    border-style: inset;
    color: black;

    /*	border-bottom-color: Gray;
    border-bottom-style: dashed;*/
}
#titulo_cedula_esbas {
    text-align: center;

}
#titulo_cedula_esbas h2{
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    margin-bottom: 0px;
}
#titulo_cedula_esbas h3{
    margin-top: 0px;
}
#titulo_cedula_nro{
    text-align:center;
    font-weight: bold;
    width:160px;
}
#titulo_cedula_nro h2{ 
    font: "Times New Roman", Times, serif;
    font-size: 80px;
    margin-bottom: 0px;
}
#titulo_cedula_escudo{
    background-image: url(../images/escudo_chico.jpg);
    background-repeat: no-repeat;
    padding-top: 40px;
    background-position: 50px 0px;
    width:160px;

}
#titulo_cedula_escudo h4{
    text-align: center;
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;


}
.block{
    display: block;
}
#listaOpciones li {
    float: left;
    display: block;
    margin-right: 10px;
    height: 20px;
}

#listaOpciones li a{
    padding-bottom: 5px;
}

.marco_ce{
    border: 1px solid #4f82cb;
    background:  #f5f8f9;
    margin-top: 10px;
}
.marco_ugel{
    border: 1px solid #4f82cb;

    background: none repeat scroll 0 0   #DCE6F2   ;
    margin-top: 10px;
}
.marco_agp{
    border: 1px solid #777777;
    background: #E4E4E4;
    margin-top: 10px;
}
.marco_coordinador{
    border: 1px solid #777777;
    background: #E7E4BB;
    margin-top: 10px;
}
table.tabla {
    background-color: #D3D3D3;
    margin-right: 2px;
}

table.tabla thead {
    background-color: #E5EAFD;
}

table.tabla thead th{
    font-weight: lighter;
    font-size:11px;
    color: black;
    font-family: Arial,Helvetica,Verdana,sans-serif;
    padding:15px;
}

table.tabla tbody {
    background-color: #fff;
}
table.tabla tfoot{
    background-color: #ccc;
    font-weight: bold;
}

table.tabla td {
    padding: 2px;
}
table.tabla tr.cerrado td {
    padding: 2px;
    text-decoration:line-through;
}

table.tabla th {
    padding: 2px;
    text-align: center;
    font:100% Arial,Helvetica,Verdana,sans-serif;
}

table.tabla a {
 text-decoration: none;
        color: #0000FF;
        background: White;
        display: block;
        padding: 0px 0px;        
        border: 1px solid #2F77AA;
        border-width: 0px 0px 0px 0;
        font-size: 100%;
		font-style: normal;
		font: normal;
		font-family: "Arial";
}
table.tabla a:hover  {
background: #DBEBF6;
}
a.abrirNominas {
    background: url(../images/abrir16.gif) no-repeat;
    padding-left: 20px;
    display: block;
    float: left;
}
a.cambiarClaveEOL{	
    background: url(../images/key.gif) no-repeat;
    padding-left: 18px;
    display: block;
    float: left;
}

/* define height and width of scrollable area. Add 16px to width for scrollbar          */
div.tableContainer {
    clear: both;
    /*	border: 1px solid #963;*/
    height: 285px;
    overflow: auto;
    width: 544px;
}
/* Reset overflow value to hidden for all non-IE browsers. */
html>body div.tableContainer {
    overflow: hidden;
    width: 544px
}
/* define width of table. IE browsers only                 */
div.tableContainer table {
    float: left;
    width: 524px
}
/* define width of table. Add 16px to width for scrollbar.           */
/* All other non-IE browsers.                                        */
html>body div.tableContainer table {
    width: 524px
}

div.tableContainerTab {
    clear: both;

    /*	border: 1px solid #963;*/
    height: 285px;
    overflow: auto;
    width: 544px;
}
/* Reset overflow value to hidden for all non-IE browsers. */
html>body div.tableContainerTab {

    overflow: hidden;
    width: 544px
}
/* define width of table. IE browsers only                 */
div.tableContainerTab table {
    float: left;
    width: 524px
}
/* define width of table. Add 16px to width for scrollbar.           */
/* All other non-IE browsers.                                        */
html>body div.tableContainerTab table {
    width: 524px
}

/* set table header to a fixed position. WinIE 6.x only                                       */
/* In WinIE 6.x, any element with a position property set to relative and is a child of       */
/* an element that has an overflow property set, the relative value translates into fixed.    */
/* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */
thead.fixedHeader tr {
    position: relative;
}

/* set THEAD element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
html>body thead.fixedHeader tr {
    display: block;
}

/* make the TH elements pretty */
thead.fixedHeader th {
    /*background: #C96;*/
    font-weight: normal;
    text-align: left
}



/* define the table content to be scrollable                                              */
/* set TBODY element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* induced side effect is that child TDs no longer accept width: auto                     */
html>body tbody.scrollContent {
    display: block;
    height: 259px;
    overflow: auto;
    width: 540px;
}


/* define width of TH elements: 1st, 2nd, and 3rd respectively.          */
/* Add 16px to last TH for scrollbar padding. All other non-IE browsers. */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
html>body thead.fixedHeader th {
    width: 60px
}

html>body thead.fixedHeader th + th {
    width: 210px
}

html>body thead.fixedHeader th + th + th {
    width: 70px
}
html>body thead.fixedHeader th + th + th +th{
    width: 70px
}
html>body thead.fixedHeader th + th + th +th+th{
    width: 100px
}

/* define width of TD elements: 1st, 2nd, and 3rd respectively.          */
/* All other non-IE browsers.                                            */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
html>body tbody.scrollContent {
    background-color: #666;
}
html>body tbody.scrollContent td {
    width: 60px;
    background-color: #fff;
}

html>body tbody.scrollContent td + td {
    width: 210px
}

html>body tbody.scrollContent td + td + td {
    width: 70px
}

html>body tbody.scrollContent td + td + td +td{
    width: 70px
}
html>body tbody.scrollContent td + td + td +td +td {
    width: 100px
}

tr.par{
    background-color: #fafafa;
}
tr.impar{
    background-color: #fff;
}

th{ text-align: center;}


label.opt{display: inline;}

#wrap1 {
    width: 820px;
    /*background: #CCC url(../images/content.jpg) repeat-y center top;*/
    background: #c8bbbe; /*#ccb954; #4F82CB;*/
    margin: 0 auto;
    text-align: left;
}
.cedula {
    background: #c8bbbe; /*#4F82CB;*/
}


.ced01 {
    color: Red;
}
.ced02 {
    color: #488ac7;
}
.ced02A {
    color: #6a287e;
}
.ced03 {
    color: #f87a17;
}
.ced04 {
    color: #348017;
}
.ced05 {
    color: #7f4817;
}
a.video{ background: url(../images/icono_video.png) no-repeat left;  padding-left: 20px;  display: block;  height: 20px;    }
hr{
    margin-bottom:10px;
}

a#btn_nuevo{ 
    background: url(../images/btn_crear-0.png) no-repeat;
    display: block;
    height: 27px;
    width: 229px;
    padding-top: 10px;
    font-weight: bold;
    font-family: "Trebuchet MS",Verdana, Geneva, Arial, Helvetica,  sans-serif;
    font-size: 15px;
    text-align: center;
}
a#btn_nuevo:hover{
    background: url(../images/btn_crear-1.png) no-repeat;
}
a.lost{
    font-size:15px;
    font-weight:bold;
}
a.edit_name{  display: block;  }
a.guardar_edicion,   a.cancelar_edicion{
    display: block;
    width: 60px;
    height: 20px;
    padding-left: 20px;
    float:left;
}
a.guardar_edicion{ 
    background: url(../images/Save16.gif) no-repeat;
}
a.editar{
    display: block;
    width: 18px;
    height: 18px;    
    background: url(../images/edit16.gif) no-repeat;
}
a.cancelar_edicion{
    background: url(../images/Stop16.gif) no-repeat;
}

table.resumen_esbas col{
    background-color:silver;
    width:150px;
}
table.resumen_esbas {
    margin-bottom:12px;
    margin-left:28px;
}
table.resumen_esbas td{ 
    border-bottom: 1px dashed Silver;
}
table.no_rayas td{ 
    border-bottom: 0px none;
}
table.esbas_valores{
    background-color: Gray;
}
table.esbas_valores thead{
    background-color: Silver;
}
table.esbas_valores tbody{

    background-color: White;
}
table.esbas_valores tbody td{
    text-align: center;
}
a.imprimir{ 
    background: url(../images/Print24.gif) no-repeat;
    display: block;
    height: 20px;  width: 70px;
    padding-left: 25px;
    float: right;
    border: 1px dashed Silver;
    padding-top: 5px;
}
@media print{
    a.imprimir,#sidebar,#menu{
        display: none;
    }
    #main {float: left;}
    table.esbas_valores td,table.esbas_valores th{
        border-bottom: 1px dashed Silver;
        border-right: 1px dashed Silver;
    }
}
strong.fecha_envio{
    font-size:15px;
    color:#3E76CB;
    border-bottom:gray dashed 2px;
}

div.extemporaneo{
    font-size:40px;
    float:right;
    color:red;
    position:relative;        
    /*background: url('/estadistica/resources/images/ban_ext.png') ;*/
    /*display:block;
    width:300px;
    height:300px;

    float:right;*/
}
/*
tr.vertical-text th{
    width: 5px;
    writing-mode: tb-rl;
    height:300px;

}*/
a.pdf,a:visited.pdf{
    background:url(/estadistica/resources/images/icon_pdf.gif) no-repeat ;
    padding-left:20px;
    display:block;
    height:20px;
}

.textLogo{
    font: Bold 100% Verdana, 'Trebuchet MS', Sans-serif;
    font-weight:bold;
    margin:5px 0;
}

.textLogo1{
    font-size: 90%;
    color: #888888;
}
.linkTablero{
font-weight:Bold;
color: #1e33d7;
text-decoration:underline;
}
.linkEnlace1{
color: #1e33d7;text-decoration:underline;
}

.tituloText{
    margin-top: 10px;
    font: Bold 125% Verdana, 'Trebuchet MS', Sans-serif;
    color: #000000;
    padding: 5px 0 5px 25px;    
    background: #FFF url(../images/square-green.png)  no-repeat 3px 50%;
}

.tituloTextNegrita{
    margin-top: 10px;
    font: Bold 125% Verdana, 'Trebuchet MS', Sans-serif;
    color: #00000;
    padding: 5px 0 5px 25px;
    background: #FFF url(../images/square-green.png)  no-repeat 3px 50%;
}



#menuh {
        font: 100% ;
        margin-top: 20px;
        font-family: "Arial";
}

#menuh ul, li {
        list-style-type: none;
}

#menuh ul {
        margin: 0;
        padding: 0;
}

#menuh li {
        float: left;
}


#menuh a {
        text-decoration: underline;
        color: blue;
        background: White;
        display: block;
        padding: 0px 10px;
        text-align: center;
        border: 1px solid #2F77AA;
        border-width: 0px 1px 0px 0;
        font-size: 100%;
        font-style: normal;
	font: normal;
	font-family: Tahoma, Verdana, 'Trebuchet MS', Sans-serif;
	}


#menuh a#primero {
        padding-left: 0px;
        border-left: 0px solid #2F77AA;
}
#menuh a#ultimo {
        border-right: 0px solid #2F77AA;
}

#menuh a:hover {
        background: #DBEBF6;
}

#pan_salir{
	 font: 100% ;
    font-family: "Arial";
}
#pan_salir a{
text-decoration: underline;
        color: #1347A4;
        background: White;
        display: block;
        padding: 0px 10px;
        text-align: center;
        border: 1px solid #2F77AA;
        border-width: 0px 1px 0px 0;
        font-size: 100%;
		font-style: normal;
		font: normal;
		font-family: "Arial";
}
#pan_salir a:hover{
        background: #DBEBF6;
}


/*Style tools tablero*/

.taglib-text{
text-decoration:underline;
}
.portlet-boundary .top-links-container{clear:both;overflow:hidden;}
.portlet-content,.portlet-minimized .portlet-content-container{padding:5px 10px 10px;}
.top-link{border-right:1px solid #bbb;margin-right:.5em;padding-right:.5em;}
.top-link a {        
        color: #0000FF;
        background: #F4F4F4;
        font:100% Arial,Helvetica,Verdana,sans-serif;
	}
.top-link a:hover {
        background: #DBEBF6;
}

.top-link.last{border-width:0;}
.aui-icon-clipboard{
background-position:-160px -128px;
}
.aui-icon-carat-1-t{background-position:0 0;}
.aui-icon-carat-1-tr{background-position:-16px 0;}
.aui-icon-carat-1-r{background-position:-32px 0;}
.aui-icon-carat-1-br{background-position:-48px 0;}
.aui-icon-carat-1-b{background-position:-64px 0;}
.aui-icon-carat-1-bl{background-position:-80px 0;}
.aui-icon-carat-1-l{background-position:-96px 0;}
.aui-icon-carat-1-tl{background-position:-112px 0;}
.aui-icon-carat-2-t-b{background-position:-128px 0;}
.aui-icon-carat-2-r-l{background-position:-144px 0;}
.aui-icon-triangle-1-t{background-position:0 -16px;}
.aui-icon-triangle-1-tr{background-position:-16px -16px;}
.aui-icon-triangle-1-r{background-position:-32px -16px;}
.aui-icon-triangle-1-br{background-position:-48px -16px;}
.aui-icon-triangle-1-b{background-position:-64px -16px;}
.aui-icon-triangle-1-bl{background-position:-80px -16px;}
.aui-icon-triangle-1-l{background-position:-96px -16px;}
.aui-icon-triangle-1-tl{background-position:-112px -16px;}
.aui-icon-triangle-2-t-b{background-position:-128px -16px;}
.aui-icon-triangle-2-r-l{background-position:-144px -16px;}
.aui-icon-arrow-1-t{background-position:0 -32px;}
.aui-icon-arrow-1-tr{background-position:-16px -32px;}
.aui-icon-arrow-1-r{background-position:-32px -32px;}
.aui-icon-arrow-1-br{background-position:-48px -32px;}
.aui-icon-arrow-1-b{background-position:-64px -32px;}
.aui-icon-arrow-1-bl{background-position:-80px -32px;}
.aui-icon-arrow-1-l{background-position:-96px -32px;}
.aui-icon-arrow-1-tl{background-position:-112px -32px;}
.aui-icon-arrow-2-t-b{background-position:-128px -32px;}
.aui-icon-arrow-2-tr-bl{background-position:-144px -32px;}
.aui-icon-arrow-2-r-l{background-position:-160px -32px;}
.aui-icon-arrow-2-br-tl{background-position:-176px -32px;}
.aui-icon-arrowstop-1-t{background-position:-192px -32px;}
.aui-icon-arrowstop-1-r{background-position:-208px -32px;}
.aui-icon-arrowstop-1-b{background-position:-224px -32px;}
.aui-icon-arrowstop-1-l{background-position:-240px -32px;}
.aui-icon-arrowthick-1-t{background-position:0 -48px;}
.aui-icon-arrowthick-1-tr{background-position:-16px -48px;}
.aui-icon-arrowthick-1-r{background-position:-32px -48px;}
.aui-icon-arrowthick-1-br{background-position:-48px -48px;}
.aui-icon-arrowthick-1-b{background-position:-64px -48px;}
.aui-icon-arrowthick-1-bl{background-position:-80px -48px;}
.aui-icon-arrowthick-1-l{background-position:-96px -48px;}
.aui-icon-arrowthick-1-tl{background-position:-112px -48px;}
.aui-icon-arrowthick-2-t-b{background-position:-128px -48px;}
.aui-icon-arrowthick-2-tr-bl{background-position:-144px -48px;}
.aui-icon-arrowthick-2-r-l{background-position:-160px -48px;}
.aui-icon-arrowthick-2-br-tl{background-position:-176px -48px;}.aui-icon-arrowthickstop-1-t{background-position:-192px -48px;}.aui-icon-arrowthickstop-1-r{background-position:-208px -48px;}.aui-icon-arrowthickstop-1-b{background-position:-224px -48px;}.aui-icon-arrowthickstop-1-l{background-position:-240px -48px;}.aui-icon-arrowreturnthick-1-l{background-position:0 -64px;}.aui-icon-arrowreturnthick-1-t{background-position:-16px -64px;}.aui-icon-arrowreturnthick-1-r{background-position:-32px -64px;}.aui-icon-arrowreturnthick-1-b{background-position:-48px -64px;}.aui-icon-arrowreturn-1-l{background-position:-64px -64px;}.aui-icon-arrowreturn-1-t{background-position:-80px -64px;}.aui-icon-arrowreturn-1-r{background-position:-96px -64px;}.aui-icon-arrowreturn-1-b{background-position:-112px -64px;}.aui-icon-arrowrefresh-1-l{background-position:-128px -64px;}.aui-icon-arrowrefresh-1-t{background-position:-144px -64px;}.aui-icon-arrowrefresh-1-r{background-position:-160px -64px;}.aui-icon-arrowrefresh-1-b{background-position:-176px -64px;}.aui-icon-arrow-4{background-position:0 -80px;}.aui-icon-arrow-4-diag{background-position:-16px -80px;}.aui-icon-extlink{background-position:-32px -80px;}.aui-icon-newwin{background-position:-48px -80px;}.aui-icon-refresh{background-position:-64px -80px;}.aui-icon-shuffle{background-position:-80px -80px;}.aui-icon-transfer-r-l{background-position:-96px -80px;}.aui-icon-transferthick-r-l{background-position:-112px -80px;}.aui-icon-folder-collapsed{background-position:0 -96px;}.aui-icon-folder-open{background-position:-16px -96px;}.aui-icon-document{background-position:-32px -96px;}
.aui-icon-document-b{background-position:-48px -96px;}.aui-icon-note{background-position:-64px -96px;}.aui-icon-mail-closed{background-position:-80px -96px;}.aui-icon-mail-open{background-position:-96px -96px;}.aui-icon-suitcase{background-position:-112px -96px;}.aui-icon-comment{background-position:-128px -96px;}.aui-icon-person{background-position:-144px -96px;}.aui-icon-print{background-position:-160px -96px;}.aui-icon-trash{background-position:-176px -96px;}.aui-icon-locked{background-position:-192px -96px;}.aui-icon-unlocked{background-position:-208px -96px;}.aui-icon-bookmark{background-position:-224px -96px;}.aui-icon-tag{background-position:-240px -96px;}
.aui-icon-home{background-position:0 -112px;}.aui-icon-flag{background-position:-16px -112px;}.aui-icon-calendar{background-position:-32px -112px;}.aui-icon-cart{background-position:-48px -112px;}.aui-icon-pencil{background-position:-64px -112px;}.aui-icon-clock{background-position:-80px -112px;}.aui-icon-disk{background-position:-96px -112px;}.aui-icon-calculator{background-position:-112px -112px;}.aui-icon-zoomin{background-position:-128px -112px;}.aui-icon-zoomout{background-position:-144px -112px;}.aui-icon-search{background-position:-160px -112px;}.aui-icon-wrench{background-position:-176px -112px;}.aui-icon-gear{background-position:-192px -112px;}.aui-icon-heart{background-position:-208px -112px;}.aui-icon-star{background-position:-224px -112px;}.aui-icon-link{background-position:-240px -112px;}.aui-icon-cancel{background-position:0 -128px;}.aui-icon-plus{background-position:-16px -128px;}.aui-icon-plusthick{background-position:-32px -128px;}.aui-icon-minus{background-position:-48px -128px;}.aui-icon-minusthick{background-position:-64px -128px;}.aui-icon-close{background-position:-80px -128px;}.aui-icon-closethick{background-position:-96px -128px;}.aui-icon-key{background-position:-112px -128px;}.aui-icon-lightbulb{background-position:-128px -128px;}.aui-icon-scissors{background-position:-144px -128px;}.aui-icon-clipboard{background-position:-160px -128px;}.aui-icon-copy{background-position:-176px -128px;}.aui-icon-contact{background-position:-192px -128px;}.aui-icon-image{background-position:-208px -128px;}.aui-icon-video{background-position:-224px -128px;}.aui-icon-script{background-position:-240px -128px;}.aui-icon-alert{background-position:0 -144px;}.aui-icon-info{background-position:-16px -144px;}.aui-icon-notice{background-position:-32px -144px;}.aui-icon-help{background-position:-48px -144px;}.aui-icon-check{background-position:-64px -144px;}.aui-icon-bullet{background-position:-80px -144px;}.aui-icon-radio-off{background-position:-96px -144px;}.aui-icon-radio-on{background-position:-112px -144px;}.aui-icon-pin-l{background-position:-128px -144px;}.aui-icon-pin-b{background-position:-144px -144px;}.aui-icon-play{background-position:0 -160px;}.aui-icon-pause{background-position:-16px -160px;}.aui-icon-seek-next{background-position:-32px -160px;}.aui-icon-seek-prev{background-position:-48px -160px;}.aui-icon-seek-end{background-position:-64px -160px;}.aui-icon-seek-first{background-position:-80px -160px;}.aui-icon-stop{background-position:-96px -160px;}.aui-icon-eject{background-position:-112px -160px;}.aui-icon-volume-off{background-position:-128px -160px;}.aui-icon-volume-on{background-position:-144px -160px;}.aui-icon-power{background-position:0 -176px;}.aui-icon-signal-diag{background-position:-16px -176px;}.aui-icon-signal{background-position:-32px -176px;}.aui-icon-battery-0{background-position:-48px -176px;}.aui-icon-battery-1{background-position:-64px -176px;}.aui-icon-battery-2{background-position:-80px -176px;}.aui-icon-battery-3{background-position:-96px -176px;}.aui-icon-circle-plus{background-position:0 -192px;}.aui-icon-circle-minus{background-position:-16px -192px;}.aui-icon-circle-close{background-position:-32px -192px;}.aui-icon-circle-triangle-r{background-position:-48px -192px;}.aui-icon-circle-triangle-b{background-position:-64px -192px;}.aui-icon-circle-triangle-l{background-position:-80px -192px;}.aui-icon-circle-triangle-t{background-position:-96px -192px;}.aui-icon-circle-arrow-r{background-position:-112px -192px;}.aui-icon-circle-arrow-b{background-position:-128px -192px;}.aui-icon-circle-arrow-l{background-position:-144px -192px;}
img.icon{vertical-align:middle;
}

/*ESTILO LOGO CABECERA*/
.minheader {
	width: 980px;
	height: 75px;;
	/*float: left;*/
	margin-bottom: 5px;
	/*margin-top: 5px;*/
	clear: both;
}

#banner {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: auto;
}
#banner .company-title {
    background: url("../images/application/logo_med.png") no-repeat scroll right 25px rgba(0, 0, 0, 0);
    float: left;
    margin: 0;
    position: static;
    width: 980px;
    padding: 0px;
}
body #banner .logo a {
    float: left;
}
#heading .logo {
    background: url("../images/application/company_logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    font-size: 0;
    height: 85px;
    text-indent: -9999em;
    width: 340px;
    float: left;
}
/*FIN ESTILO LOGO CABECERA*/