/*
    Document   : indicadores
    Created on : 22/10/2010, 12:10:20 PM
    Author     : DSILVA
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root {
    display: block;
}
.ui-widget{
    font-size: 0.8em;
}
div.input-line label{
    display: block;
    float: left;
    width: 150px;
}
table.indicadores-view{
    background: Silver;
    width: 100%;
    border: 1px solid Silver;
    font-family:  Arial, Helvetica,sans-serif;
}
table.indicadores-view tbody{
    background: White;
}
table.indicadores-view tbody tr{
    border-bottom: 1px solid Silver;
}
table.indicadores-view tbody tr td{
    padding: 5px 15px;
}

table.indicadores-view tbody tr td.seccion{

    color: #333333;
    padding-top: 18px;
    padding-bottom:  7px;
}
table.indicadores-view tbody tr td.seccion span.nombre_seccion{
    font-size: 12pt;
    font-weight: bold;
}

table.indicadores-view tbody tr td.cuadro a{
    color: #333333;
    text-decoration: none;
}
table.indicadores-view  tbody tr td.cuadro a:hover{
    text-decoration: underline;
}
h1.indicador_titulo{
    font-family:  Calibri, Arial, Helvetica,sans-serif;
    font-size: 22pt;
    font-weight: normal;
    margin: 0 0 0.4em 17px;
}
div.indicador_descripcion{
    font-family:    Arial, Helvetica,sans-serif;
    font-size: 9pt;
    float:left;
    width: 55%;
    margin: 0 10px 30px 17px;
    text-align: justify;
}
div.clear{
    clear: both;
}

#pre1{
    color:white;
    font-size: 10pt;
    background-color: #0066cc;
    text-align: center;
    padding: 3px;
}
#pre0{
    color:white;
    font-weight: bold;
    font-size: 11pt;
    background-color: navy;
    text-align: center;
    margin-bottom: -11px;
}


#cuadro_tablero h1{
    font-family:  Calibri, Arial, Helvetica,sans-serif;
    font-size: 22pt;
    margin: 0 0 0 0px;
    font-weight: normal;
    width: 60%;
    display: block;
    line-height: 32px;
}
#cuadro_tablero h2{
    font-family:  Arial, Helvetica,sans-serif;
    font-size: 9pt;
    margin: 0.8em 0 0 17px;
    font-weight: normal;
    width: 60%;
    display: block;
}
#cuadro_tablero h3{
    font-family:    Arial, Helvetica,sans-serif;
    font-size: 8pt;
    margin: 0.8em 0 0 17px;
    color:gray;
    font-weight: normal;
    width: 60%;
    display: block;
}
#tablero {
    display: block;    
    margin-top: 2px;

}
#tablero ul{
    padding-left:0px;
    list-style: none;
    width:220px;
    margin: 0;
}
#tablero ul li{
    padding:9px ;
    
    background: #e2e2f4;
    /*background: #DBE5F1;*/
    margin-bottom: 1px;
    line-height:15px;
    /*-moz-box-shadow: inset 2px 2px 5px #989A94;
    -webkit-box-shadow: inset 2px 2px 5px #989A94;
    box-shadow: inset 2px 2px 5px #989A94; */

}
#tablero ul li.selected{
    background: #989A94;
    /*background: #969696;*/

}
#tablero ul li a{
    text-decoration: none;
    /*color: #5B677D;*/
    color: #666666;
    font-family:  Arial, Helvetica,sans-serif;
    font-size: 9pt;
}
#tablero ul li.selected a{
    color:white;
}
#tablero ul li a:hover{

    text-decoration: underline;
}

#opciones_tablero{
    width: 220px;
    float: left ;

}
#opciones_tablero .opciones{
    /*background: #D8D8D8;*/
    background: #005eb9;
    color:white;
    padding: 8px 3px 10px 3px;
    -moz-border-radius:4px;
    moz-border-radius:4px;
}
#opciones_tablero h2{
    font-size: 10pt;
    padding: 0 10px 6px 7px;
    margin: 0;
    width: 100%;
    font-family:  Arial, Helvetica,sans-serif;
    font-weight: bold;
}

#contenido{
    max-width: 100%;
}
table.body_content_tablero tr td.tablero{
    vertical-align: top;     
    padding: 0px;
}
table.body_content_tablero tr td.tablero:first-child{
    max-width: 950px;
    overflow: auto;
}
table.body_content_tablero tr td.tablero:last-child{
    border-left:1px solid #D8D8D8;
    width: 220px;
}
table.body_content_tablero{
    border: 1px solid #D8D8D8;
    border-bottom: none;
    width: 100%;
}
#cuadros {
    border: 1px solid #D8D8D8;
    width: 185px;
    float:right;

    padding: 0px 0px 0px 0px;
}
#cuadros ul{
    list-style: none;
    display: inline;
    margin: 0;
}

/*Comentado por JCTF & CMOLINA 17.03.2014 ante acoplamiento de editor SIG*/
/*
#cuadros ul .reportado_ley{
    border-bottom: 0px solid #EFF0F1;
    background: #FFF url(../images/reportado_ley.png) no-repeat 3px 50%;
}
#cuadros ul .pendiente_ley{

    border-bottom: 0px solid #EFF0F1;
    background: #FFF url(../images/pendiente_ley.png) no-repeat 3px 50%;
}
*/
#cuadros .reportado_ley{
    display: inline;
    border-bottom: 0px solid #EFF0F1;
    background: #FFF url(../images/reportado_ley.png) no-repeat 3px 50%;
}
#cuadros .pendiente_ley{
    display: inline;
    border-bottom: 0px solid #EFF0F1;
    background: #FFF url(../images/pendiente_ley.png) no-repeat 3px 50%;
}


#cuadros ul li a{
    text-decoration: none;
    color:#5B677D;
}
#cuadros ul li a:hover{
    text-decoration: underline;
    color:#5B677D;
}

/*Comentado por JCTF & CMOLINA 17.03.2014 ante acoplamiento de editor SIG*/
/*
#cuadros ul li{
	 padding: 2px 0 2px 2px;
    float:left;
    width:90px;

    text-align: center;
    font-family:  Arial, Helvetica,sans-serif;
    font-size: 8pt;
    text-transform: uppercase;
}
*/
#cuadros li{
	 padding: 2px 0 2px 2px;
    float:left;
    width:90px;

    text-align: center;
    font-family:  Arial, Helvetica,sans-serif;
    font-size: 8pt;
    text-transform: uppercase;
}



#cuadros ul li#cuadro.selected{
    background:  #DBE5F1;
}
#cuadros ul li#error.selected{
    background:  #E5E0EC;
}

#body_tablero{
    width: 960px;
    position: relative;
    top:0;
}


table.tabla {
    background-color:  #d5d5d5;    
    margin-right: 2px;    
}

table.tabla thead {
    /*background-color: silver;*/
    background-color:#DBE5F1;

}

table.tabla thead th{
    /*font-weight: bold;*/
    font-size:9pt;
    color: #232323;

    font-family: Arial,Helvetica,Verdana,sans-serif;
    padding:5px;
}

table.tabla tbody {
    background-color: #fff;
    font-size:8pt;
    font-family: Arial,Helvetica,Verdana,sans-serif;
}
table.tabla tfoot{
    background-color: white ;
    font-weight: bold;
}

table.tabla td {
    padding: 2px;
}
table.tabla tr.cerrado td {
    padding: 2px;
    text-decoration:line-through;
}

table.tabla th {
    padding: 2px;
    text-align: center;
    font:100% Arial,Helvetica,Verdana,sans-serif;
}

table.tabla a {
 text-decoration: none;
        color: #0000FF;
        background: White;
        display: block;
        padding: 0px 10px;
        border: 1px solid #2F77AA;
        border-width: 0px 0px 0px 0;
        font-size: 100%;
		font-style: normal;
		font: normal;
		font-family: "Arial";
}
table.tabla a:hover  {
/*background: #DBEBF6;*/
}


table.tabla a.act {
        text-decoration: none;
        color: #222222;
        background: White;
        display: block;
        padding: 5px 10px;
        
	font-family: "Arial";
}
table.tabla a.act:hover  {
background: #e9e9e9 ;
}

table.tabla a.act_sel {
        text-decoration: none;
        color: #0000FF;
        background: White;
        display: block;
        padding: 5px 10px;        
	font-family: "Arial";
}
table.tabla a.act_sel:hover  {
background: #e9e9e9 ;
}


.tabla a.xls{
    background: url(../images/icon_xls.gif) no-repeat;
    display: block;
    height: 20px;
    margin: 0 auto;
    padding-left: 20px;
    /*width:20px;*/
}

.tabla a.xl_finish{
    background: url(../images/icon_xls_finish.gif) no-repeat;
    display: block;
    height: 20px;
    margin: 0 auto;
    padding-left: 20px;
    /*width:20px;*/
}

.tabla a.pdf{
    background: url(../images/icon_pdf.gif) no-repeat;
    display: block;
    height: 20px;
    margin: 0 auto;
    padding-left: 20px;
    /*width:20px;*/
}


.tabla .reportado{
    margin-top: 10px;
    font: Bold 100% Arial,Helvetica,Verdana,sans-serif;
    padding: 5px 0 5px 30px;
    border-bottom: 1px solid #EFF0F1;
    background: #FFF url(../images/reportado.png) no-repeat 3px 50%;
}

.tabla .pendiente{
    margin-top: 10px;
    font: Bold 100% Arial,Helvetica,Verdana,sans-serif;
    padding: 5px 0 5px 30px;
    border-bottom: 1px solid #EFF0F1;
    background: #FFF url(../images/pendiente.png) no-repeat 3px 50%;
}

table.msjlist {
	width: 100%;
	border-spacing: 0px;
	/*background-color: #e7e7e7;*/
	color: #666;
}

table.msjlist td,
table.msjlist th { padding: 3px; }

table.msjlist thead th {
	text-align: left;
	background: #f0f0f0;
	color: #666;		
	font-family: "Arial";
        font-size: 9pt;
}

table.msjlist thead a:hover { text-decoration: none; }

table.msjlist thead th img { vertical-align: middle; }

table.msjlist tbody th { font-weight: bold; }

table.msjlist tbody tr		{ background-color:  #fff;  text-align: left; }
table.msjlist tbody tr.row1 	{ background: #f9f9f9; }

table.msjlist tbody tr.row0:hover td,
table.msjlist tbody tr.row1:hover td  { background-color: #cbdceb; }

table.msjlist tbody tr td 	   { height: 8px; background: #fff; font-family: "Arial";font-size: 8pt; }
table.msjlist tbody tr.row1 td { background: #e8e8e8; }

table.msjlist tfoot tr { text-align: center;  color: #333; }
table.msjlist tfoot td,
table.msjlist tfoot th { background-color: #f3f3f3;  text-align: center; }

table.msjlist td.order 		{ text-align: center; white-space: nowrap; }
table.msjlist td.order span { float: left; display: block; width: 20px; text-align: center; }

table.msjlist .pagination { display:table; padding:0;  margin:0 auto;	 }

.paginador {
    width: 100%;
    display: block;
}
.paginador a,.paginador span{
    margin: 0 10px;
}

.tituloPlazoAct{
text-transform: capitalize;font-family:Arial,Helvetica,Verdana,sans-serif
}

.rowAnio{
 background-color: #a6a6a6;
 color: white ;
 font-family:Arial,Helvetica,Verdana,sans-serif ;
  font-weight: bold;

}

/* PLANTILLA ESTYLOS*/

.inputLine{
    width: 440px;
    padding-bottom: 3px;
}
.inputLine label{
    display: block;width: 120px;float: left;margin-left: 0px; font-size: 9pt;
}

.inputCnt{
    width: 300px;
}

.inputCnt input{
    display: block;width: 80px;float: left;margin-left: 0px; font-size: 10pt;
}

#pForm{
    border:2px solid  #959595; font-family: Arial, Helvetica, sans-serif; width:600px;
}
#pFormTitle{
    background-color: silver ; margin:  2px 2px 2px 2px; padding:5px 5px 5px 5px; ; font-size:10pt;
    font-weight: bold;
}
#pFormContent{
    background-color: white;  margin:8px 8px 8px 10px; font-size:9pt;
}


.outputLineMsg{
    width: 450px;
    padding-bottom: 7px;
    padding-left: 10px;
}
.outputLineMsg .labelField{
    display: block;width: 80px;float: left;margin-left: 0px; font-size: 8pt;
}
.outputLineMsg .valueField{

    font-size: 9pt;font-family:Arial;color: #333333;
}


.outputLine{
    width: 450px;
    padding-bottom: 7px;
    padding-left: 10px;
}
.outputLine .labelField{
    display: block;width: 80px;float: left;margin-left: 0px; font-size: 8pt;font-weight: bold;
}
.outputLine .valueField{    
    font-size:8pt;font-family:Arial;color: #333333;
}

.outputLine .glosaField { /*background-color:#FCFCFE; */
	border: #CCCCCC solid 1px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bolder;
	height: 150px;
	overflow: auto;
}

.outputCnt{
    width: 300px;
}


#pFormView{
    border:2px solid  #959595; font-family: Arial, Helvetica, sans-serif; width:600px; height: 400px;
}
#pFormViewTitle{
    background-color: white; margin:  2px 2px 2px 2px; padding:5px 5px 5px 5px; ; font-size:10pt;
    font-weight: bold;
}
#pFormViewContent{
    background-color: white; margin:8px 8px 8px 10px; font-size:10px;
}

a.leerMsj{
    background: url(../images/read_msg.gif) no-repeat;
    display: block;
    height: 20px;
    margin: 0 auto;
    padding-left: 20px;
    /*width:20px;*/
}

a.leerMsj1{
    background: url(../images/read_msg_1.gif) no-repeat;
    display: block;
    height: 20px;
    margin: 0 auto;
    padding-left: 20px;
    /*width:20px;*/
}

a.quitMsj{                    
    background: url(../images/quit_msg1.gif) no-repeat;
    display: block;
    height: 20px;
    margin: 0 auto;
    padding-left: 20px;
    /*width:20px;*/
}

a.sendEmail{
   background: url(../images/email_send.png) no-repeat;
   display: block;
   height: 20px;
   margin: 0 auto;
   padding-left: 20px;
   font-family:  Arial, Helvetica,sans-serif;
   font-size: 9pt;

    /*width:20px;*/
}

.banerPortlet h2 {
    -moz-border-radius: 4px 4px 4px 4px;
    -moz-box-shadow: 0 -1.5em 3em -2em #002B55 inset;
    background: none repeat scroll 0 0 #0066CC;
    color: white;
    font-family: Calibri,Arial,Helvetica,sans-serif;
    font-size: 24pt;
    font-weight: normal;
    height: 35px;
    margin-bottom: 0;
    margin-top: -0.1em;
    padding: 0.1em 0.5em 0.5em;
}


#wrap {
    /*width: 820px;*/
    /*background: #CCC url(../images/content.jpg) repeat-y center top;*/
    /*margin: 0 auto;*/
    text-align: left;
    margin: 0 auto;
    width:980px;
    background: none repeat scroll 0 0  #ffffff;
}
#content-wrap {
    clear: both;
    /*width: 760px;*/
    width: 980px;
    /*height: 750px;*/
    padding: 0;
    margin: 0 0 0 10px;
}
#header {
    width: 980px;
    position: relative;
    height: 60px;
    /*background: #CCC url(../images/header.jpg) no-repeat center top;*/
    background: none repeat scroll 0 0 #0066CC;
    padding: 0;
    font-size: 14px;
    color: #FFF;
}
#header h1#logo-text {
    position: absolute;
    margin: 0; padding: 0;
    font: bolder 2em  Arial, Sans-serif;

    letter-spacing: -2px;
    color: #FFF;
    text-transform: none;

    /* change the values of top and left to adjust the position of the logo*/
    top: 5px; left: 25px;
}
#header h2#slogan {
    position: absolute;
    margin: 0; padding: 0;
    font: normal .8em 'Trebuchet MS', Arial, Sans-serif;
    text-transform: none;
    color: #FFF;

    /* change the values of top and left to adjust the position of the slogan*/
    top: 35px; left: 25px;
}

#menu {
    clear: both;

    margin: 0; padding: 0 5px 0 0;
    background: white;
    font: bold 12px/26px Verdana, Arial, Tahoma, Sans-serif;
    height: 25px;
    top: 74px; left: 58px;
}
#menu a {
    float: right;
    color:  white;
    text-decoration: none;
}
#menu ul {
    float: right;
    list-style: none;
    margin:0; padding: 0;
}
#menu ul li {
    display: inline;
}
#menu ul li a {
    display: block;
    float: right;
    padding: 0 8px;
    color: #FFF;
    text-decoration: none;
}
#menu ul li a:hover {
    background-color: #ECECEC;
    color: #333;
}
#menu ul li#current a {
    background-color: #FFF;
    color: #333;
}


/* Footer */
#footer {
    color: #666666;
    /*background: #CCC url(../images/footer.jpg) no-repeat center top;*/
    font: normal .8em 'Trebuchet MS', Arial, Sans-serif;
    background: none repeat scroll 0 0  #FAFAFA;
    clear: both;
    width: 980px;
    height: 40px;
    text-align: center;
    font-size: 11px;
}
#footer a { text-decoration: none; }

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }

/* display and additional classes */
.clear { clear: both; }
.gray { color: #CCC; }


/*imendoza*/


.leftArea {
    margin-top: 0;
	border:solid 1px #CCCCCC;
	overflow-y: scroll;
}

.mainArea {
	width:600px;
        text-align: center;
}

.rightArea {
	position: absolute;
	top: 70px;
	bottom: 20px;
	left:650px;
	overflow-y: scroll;
	width:270px;
}

.label-estado{
    background-color: #5cb85c;
    border-radius: 0.25em;
    color: white;
/*    display: inline;*/
    font-size: 80%;
    font-weight: 700;
    height: 15px;
    line-height: 1.5;
/*    text-align: center;*/
    padding-left: 3px;
    vertical-align: baseline;
    white-space: nowrap;
    width: 130px;
}

/*imendoza*/