<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{formModel.messages.title || 'Confirmar'}}</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div style="text-align:center;">
            <i class="fa fa-question" style="font-size: 30px; color: blue;"></i>
          </div>
          <p style="text-align: center;">{{formModel.messages.prompt}}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="formModel.messages.confirmMsg.okFunc()">OK</button>
        <button type="button" class="btn btn-default" ng-click="$hide()">Cancelar</button>
      </div>
    </div>
  </div>
</div>